*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/***** HOME *****/
#home{
    width: 100%;
    height: 100vh;
}

#home nav.links {
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}

#home nav.links ul li a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

#home nav.links ul li a:hover{
    color:#428A33;
}

#home nav.form{
    position: absolute;
    top: 50px;
    right: 80px;
}

#home nav.form a {
    background-color:#428A33;   
    margin: 10px;
    padding: 10px 20px;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

#home nav.form ul li{
    list-style: none;
}

#home .logo{
    position: absolute;
    top: 150px;
    left: 90px;
    width: 700px;
}

#home .logo img{
    width: 160px;
    height: 160px;
}

#home .logo h1{
    position: absolute;
    left: 180px;
    top: 30px;
    color: #428A33;
    font-size: 60px;
}

#home .logo h2{
    position: absolute;
    left: 190px;
    top: 90px;
    font-size: 22px;
}

#home .mini-analytics{
    background-color: #428A33;
    color: #ffff;
    height: 250px;
    width: 80%;
    /* width: 90%;  */
    position: absolute;
    bottom: 0;
}

#home .mini-analytics:before {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0px;
    right: 0px;
    width: 270px;
    background: #428A33;
    transform: skew(52deg);
    transform-origin:top;
}
  
#home .books, .borrowed, .returned{
    display: inline-block;
    margin-right: 140px;
    text-align: center;
    position: relative;
    top: 125px;
    left: 90px;
}

#home .books, .borrowed, .returned{
    display: inline-block;
    margin-right: 120px;
    text-align: center;
    position: relative;
    top: 60px;
    left: 90px;
}

.books h3, .borrowed h3, .returned h3{
    font-size: 65px;
}
.books p, .borrowed p, .returned p{
    font-size: 24px;
    font-weight: bold;
}

.fa-solid{
    border: 1px solid white;
    padding: 2px 8px;
}

/***** ABOUT US *****/
/* #about{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(66, 138, 51, 0.5), rgba(66, 138, 51, 0.5)), url("assets/img/Saint-Jude.png");
} */
#about .front img{
   height: 90vh;
   width: 100%;
}

#about .back{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(66, 138, 51, 0.5), rgba(66, 138, 51, 0.5));
    width: 100%;
    height: 91vh;
    position: absolute;
    top: 657px;
}

#about .title{
    position: absolute;
    z-index: 1;
    color: #fff;
}

#about .title h1{
    margin-left: 600px;
    margin-top: 60px;
}

#about .title h2{
    margin-top: 100px;
    margin-left: 410px;
    width: 550px;
    /* font-size: 26px; */
    text-align: center;
}

#about .back{
    text-align: center;
    
}

footer{
    background-color: #428A33;
    color: #fff;
    padding: 30px;
    text-align: center;
}


/***** LOGIN *****/
.login-form{
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 50px;
    position: absolute;
    /* border-top: rgba(0, 0, 0, 0.2); */
    border: 1px solid rgba(0, 0, 0, 0.4);
    top: 200px;
    right: 117px;
    background-color: #ffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.10), 0px 3px 3px rgba(0, 0, 0, 0.10); 
    z-index: 1;
}

.login-form h2{
    text-align: center;
    margin-bottom: 20px;
}


input[type=submit]{
    width: 100%;
    /* border-radius: 10px; */
    border: none;
    background-color:#428A33;
    color: #ffff;
    font-size:16px;
    margin-top: 10px;
    font-weight: bold;
}

input{
    width: 95%;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

/***** LOGIN *****/
.login-form{
    background-color: #ffff;
    /* padding: 50px; */
    position: absolute;
    right: 90px;
    top: 140px;
    width: 330px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.10), 0px 3px 3px rgba(0, 0, 0, 0.10); 
}

input[type=submit]{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color:#428A33;
    color: #ffff;
    font-size:16px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

input[type=text], input[type=password]{
    width: 93%;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}